@page "/CreatePost"
@using Assignment2.Data
@using Assignment2.Data.ClientInterfaces
@using Microsoft.AspNetCore.Components
@using Post = DNP1_Server.Utils.Post

@inject IPostService PostsService; 

<div class="post">
    <h3>Create a new post.</h3>
    <div class="form-group field">
        <label>User name:</label>
        <input type="text" @bind="Author" @bind:event="oninput"/>
        <input type="text" @bind="Title" @bind:event="oninput"/>
        <input type="text" @bind="Body" @bind:event="oninput"/>
    </div>
    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Submit</button>
    </p>
</div>

@code {
    private string Author = "";
    private string Title = "";
    private string Body = "";
    
    private async Task Create()
    {
        Title = "";

        try
        {
            await PostsService.CreatePost(new Data.Post(Author));
            Author = "";
            Title = "";
            Body = "";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            Title = e.Message;
            Body = e.Message;
        }
    }
}