@page "/"

<PageTitle>Index</PageTitle>

<h1>VIA Forum</h1>

Welcome to VIA Forum. This is a place to discuss with your fellow VIA students and teachers about those things that are 
important to you. Feel free to look around and get comfortable. And stay for as long as you want. We're glad you're here!